/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .container {
      display: grid;
      grid-template: 2fr 6fr 1fr / 1fr 4fr;
      grid-template-areas: 
      "sidebar header"
      "sidebar main"
      "footer footer";
  }

/* HEADER */
  .header {
      grid-area: header;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
  }

  .header div {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }




/* SIDEBAR */

  .sidebar {
      grid-area: sidebar;
      display: grid;
      grid-template-rows: 1fr 4fr 4fr;
      grid-template-columns: 1fr 4fr;
      row-gap: 50px;
      column-gap: 15px;
      padding-left: 15px;
  }






  .main {
      grid-area: main;
  }

  .footer {
      grid-area: footer;
  }